* {
    margin: 0;
    padding: 0 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
    
}

:root{
    --corRoxo: #cb6ce6;
    --corAzul: #004aad;
    --corBranca: #FFFFFF;
    --corAzulEsc:#090117;
    --corCinzaMed:#8D8D8D;
    --corCarvao:#333333;
    --corCinzaEsc:#3b3b3b;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--corAzulEsc); 
}

.interface{
    max-width: 1580px;
    padding: 0 4%;
    margin: 0 auto;
}

button{
    background-color: transparent;
    border: 2px solid var(--corBranca);
    border-radius: 8px;
    color: var(--corBranca);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    transform: .5s;
}

button:hover{
    background-color:var(--corRoxo);
    color: var(--corAzulEsc);
    border-color: var(--corRoxo);
}

h1.titulo-section{
    font-size: 4rem;
    color:var(--corBranca) ;
}

h1.titulo-section span{
    color: var(--corRoxo);
}

/* Estilo do cabeçalho */
header {
    background-color: transparent;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    background-color: var(--corAzul);
    z-index: 100;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo-cabecalho img{
    max-width: 200px;
    margin-right: 60px;
}

header nav.menu_desktop ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 56px;
}

header nav.menu_desktop a{
    color: var(--corBranca);
    text-decoration: none;
    font-size: 1.1rem; 
    transform: .5s;
}

header nav.menu_desktop a:hover{
    color: var(--corAzulEsc);
}

header nav.menu_desktop button{
    width: 144px;
    height: 48px;
}

/* Estilo do menu mobile */
.btn-menu-mobile{
    display: none;
}

.btn-menu-mobile i{
    font-size: 2.8rem;
    color: var(--corAzulEsc);
}

.menu-mobile {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh; 
    background-color: var(--corAzulEsc);
    text-align: right;
    padding: 32px 0;
    pointer-events: none;
    transform: .7s;
}

.menu-mobile ul{
    list-style: none;
    padding: 64px 0;
}

.menu-mobile ul li a{
    color: var(--corRoxo);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 24px;
    display: block;
    transition: 0.2s;
}

.menu-mobile ul li a:hover{
    background-color: var(--corRoxo);
    color: var(--corAzulEsc);
    
}

.menu-mobile .bi-x-lg {
    font-size: 1.8rem;
    color: var(--corRoxo);
    padding: 24px;
}

.menu-mobile.mostrar-menu {
    left: 0;
    pointer-events: inherit;
    transition: left 0.3s ease-in-out;
}

/* Estilo da hero */
section.hero {
    width: 100%;
    background-color: var(--corAzul);
    padding: 144px 0 40px 0;
    
}

.hero > .interface {
    display: flex;
    align-items: center;
    gap:120px;
    border-bottom: 2px
}

.hero .img-hero {
    width:380px;
    height: 380px;
    object-fit: cover; 
    object-position: center;
    border-radius: 50%;
    position: relative;
}

.hero .txt-hero h1{
    font-size: 3rem;
    color: var(--corBranca);
    font-weight: 300;
}

.hero .txt-hero h1 span{
    color: var(--corRoxo);
    display: block;
    font-weight: 500;
    font-size: 4rem;
}

.hero .txt-hero p{
    color: var(--corBranca);
    line-height: 1.6;
    font-size: 1.6rem;
    margin: 20px 0;
}

.hero .txt-hero button{
    width: 200px;
    height: 48px;
}

/* Estilo about */
section.about{
    width: 100%;
    padding: 80px 0;
}

.about > .interface {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 96px;
}

.about .txt-about p{
    color: var(--corCinzaMed);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;
}

.about .btn-redes button, footer .btn-redes button{
    width: 56px;
    height: 56px;
    font-size: 24px;
    margin-right: 8px;
}

.btn-redes .inst:hover, .in:hover, .github:hover{
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.3); 
}

/* Estilos das minhas skills */
section.skills{
    width: 100%;
    padding: 80px 0;
    background-color: var(--corAzul);
}

.skills h2.subt{
    margin: 20px 0 10px 0;
    text-align: center;
}

.skills .skills-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    gap: 96px;
    margin-top: 40px;
}

.skills article.hard .hards-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    margin: 10px 0;
    background-color: var(--corAzulEsc);
    padding: 24px;
    border-radius: 16px;
    text-align: center;
}

.skills article.soft .txt-soft {
    margin: 10px 0;
    background-color: var(--corAzulEsc);
    padding: 24px;
    border-radius: 16px;
    text-align: center;
    
}

.skills article.soft h2 {
    margin-top: 16px;
}

.icon-skills h2, .soft-skills h2{
    color: var(--corBranca);
    text-align: center;
}

.icon-skills img{
    max-width: 80px;
}

.skills .btn-contato{
    text-align: center;
    margin-top: 24px;

}

.skills .btn-contato button{
   width: 200px;
   height: 48px;
}

/* Estilo da Serviços */
section.servicos{
    width: 100%;
    padding: 80px 0;
}

.servicos article.serv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 96px;
}

.servicos h2{
    margin: 20px 0 10px 0;
    color: var(--corBranca)
}

.servicos .txt-serv h3 {

    color: var(--corCarvao);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;
    
}
.txt-serv p{
    color: var(--corCinzaMed);
    text-align: justify;
    line-height: 1.6;
    margin: 24px 0;
}

/* Estilo da Projetos */
section.projetos{
    width: 100%;
    padding: 80px 0;
}

.projetos .projeto-container {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 80px;
}

.projeto-container .projeto-box {
    min-width: 200px;
    height: 400px;
    border: 2px solid var(--corRoxo);
    border-radius: 16px;

    background-size: cover;
    background-position-y: 0%;
    transition: background-position-y 10s;

    position: relative;

}

.projeto-container .projeto-box .infor-projeto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d0c6694;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--corBranca);
    font-size: 18px;
    font-weight: 900;

    opacity: 0;
    transition: 0.5s;
}

.projeto-container .projeto-box .infor-projeto:hover{
    opacity: 1;
}

.projeto-container .projeto-box:hover{
    background-position-y: 100%;
}

.projeto-container .proj1{
    background-image: url(../IMG/Projetos/Barbearia-alura.png);
}

.projeto-container .proj2{
    background-image: url(../IMG/Projetos/Jogo-numero-secreto.png);
}

.projeto-container .proj3{
    background-image: url(../IMG/Projetos/Hotel-Star.png);
}

/* Estilo da Contatos */
section.contato{
    width: 100%;
    padding: 80px 0;
    background-color: var(--corAzul);
}

.contato > .interface {
    display: flex;
    justify-content: space-between;
}

.contato .txt-contato p{
    color: var(--corCinzaMed);
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.contato .txt-contato p i{
    color: var(--corRoxo);
    font-size: 2rem;
}

.contato form{
    width: 50%;
}

.contato form input, .contato form textarea {
    width: 100%;
    padding: 16px 10px;
    background-color: transparent;
    border: 2px solid var(--corRoxo);
    outline: none;
    color: var(--corBranca);

    font-size: 1.1rem;
    border-radius: 8px;
    margin-bottom: 8px;
}

.contato form textarea{
    resize: none;
    height: 150px;
}

.contato form .btn-enviar input{
    border-color: var(--corBranca);
    transition: 0.2s;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
}

.contato form .btn-enviar input:hover{
    background-color: var(--corRoxo);
    color: var(--corAzulEsc);
    border-color: var(--corRoxo);
}

/* Estilo do rodapé */
.footer {
    width: 100%;
    padding: 40px 0;
}


footer > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--corCinzaEsc);
    padding-top: 24px;

    margin-bottom: 40px;
}

footer .logo-footer img{
    max-width: 160px;
    margin-bottom: 16px;
}